[submodule "topic-grafana-docker-compose"]
	path = topic-grafana-docker-compose
	url = https://github.com/jcooklin/docker-snap-influxdb-grafana
[submodule "topic-monitoring-elasticsearch-kubernetes"]
	path = topic-monitoring-elasticsearch-kubernetes
	url = git@github.com:candysmurf/snap-elasticsearch-monitor.git
